html{
    box-sizing: border-box;
    }
    *,
    *::before,
    *::after{
        box-sizing: inherit;
    }
    .wrapper {
    width: 1200px;
    margin: 0px auto;
    }
    main {
        flex-grow: 1;
    }
    img{
        display: block;
        max-width: 100%;
        height: auto;
    }
    /* менюшка навигации */
    .page-nav {
        display: flex;
        width: 1201px;
    }
    .container {
        display: flex;
        justify-content: space-between;
        min-height: 50px;
        align-items: flex-end;
    }
    .container ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
    }
    .navigation {
        position: relative;
        display: block;
        list-style: none;
        font-size: 14px;
        font-family: "Montserrat";
        color: #95e1d3;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        transition: color 200ms linear;
    }
    .navigation::after {
        background-color: #f38181;
        display: block;
        content: '';
        height: 3px;
        width: 0%;
        left: 50%;
        position: absolute;
        margin-top: 12px;
        transition: width 200ms linear;
        transform: translateX(-50%);
    }
    .navigation:hover,
    .navigation:focus {
        color: #f38181;
    }
    .navigation:hover::after,
    a.navigation:focus::after {
        width: 100%;
    }
    .container li {
      list-style: none;
      margin-right: 60px; 
    }
    .container li:last-child {
        margin-right: 0px;
    }
    .logo {
      font-size: 30px;
      font-family: "Montserrat";
      color: #95e1d3;
      font-weight: bold;
      line-height: 1.2;
      text-decoration: none;
      /* animation: logo-appear 1s linear; АНИМАЦИЯ */
    }
    /*АНИМАЦИЯ
     @keyframes logo-appear {
        0% {
            transform: translateY(-200%);
        }
    
        50% {
            transform: translateY(0);
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
        }
    } */
    
    /* секция сервиса */
    .s-sec {
        margin-bottom: 80px;
        padding-top: 113px;
    }
    .pre-title {
        display: block;
        margin: 0;
        padding: 0;
        text-transform: none;
        font-size: 24px;
        font-family: "Kaushan Script", sans-serif;
        font-weight: 400;
        padding-bottom: 25px;
        }
    .title {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 36px;
    }
    .title::after {
        margin: 42px auto 0px;
        width: 60px;
        height: 3px;
        content: '';
        display: block; 
        background-color: rgb(243, 129, 129);
    }
 
    .services-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* flex-basis: 1182px; */
        margin: 0;
        padding: 66px 0px 0px 0px;
        list-style: none;
        /* min-height: 243px; */
    }

    .services-list-item {
        margin-bottom: 100px;
    }
    .services-card {
    width: 340px;
    position: relative;
    padding-left: 62px;
    background-repeat: no-repeat;
    }
    .services-card::before {
        position: absolute;
        display: inline-block;
        content: '';
        left: 0;
        width: 32px;
        height: 32px;
    }
    .services-name {
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
        color: #333333;
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }
    .services-descr {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        color: #9f9f9f;
        font-size: 15px;
    }
    .icon-alarm {   
        background-image: url(../img/ALARM.png);
    }
    .icon-linegrap {
        background-image: url(../img/LINEGRAPH.png);
    }
.icon-computer {
    background-image: url(../img/COMPUTER\ _\ OK.png);
}
.icon-book {
    background-image: url(../img/BOOK\ 2.png);
}
.icon-home{
    background-image: url(../img/HOME.png);
}
.icon-image {
    background-image: url(../img/IMAGE.png);
}
    /* секция команды */

    .team-descr {
        display: inline-block;
        font-size: 15px;
        font-family: "Roboto";
        line-height: 1.6;
       text-align: center;
       margin-bottom: 93px;
       padding-top: 45px;
    }
    .team {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;       
    }
    .team li {
        width: 380px;
    }
    .team-section {
    padding-bottom: 86px;
    }
    .team-item {
        width: 380px;
        height: 470px;
        transition: 200ms linear;    
    }
    .team-item:hover { 
        transform:translate(-10px,-10px);
    }
    .blue-screen {
        background-color: #95e1d3;
        width: 380px;
    }
    .overlay {
        position: absolute;
        width: 380px;
        height: 470px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0);
    }
    .facebook {
        background-image: url(../img/facebook.png);
        background-repeat: no-repeat;
        background-color: rgb(243, 129, 129);
        background-position: center;
        opacity: 0;
    }
    .twitter {
        background-image: url(../img/twitter.png);
        background-repeat: no-repeat;
        background-color: rgb(243, 129, 129);
        background-position: center;
        opacity: 0;
    }
    .pinterest {
        background-image: url(../img/pinterest.png);
        background-repeat: no-repeat;
        background-color: rgb(243, 129, 129);
        background-position: center;
        opacity: 0;
    }
    .instagram {
        background-image: url(../img/instagram.png);
        background-repeat: no-repeat;
        background-color: rgb(243, 129, 129);
        background-position: center;
        opacity: 0;
    }
    .overlay-icon a {
        display: block;
        width: 50px;
        height: 50px;
        border: none;
        cursor: pointer;
        background-color:rgba(252, 227, 138, 1);
        transition: backgroung-color 200ms linear;
    }
    .overlay-icon a:hover,
    .overlay-icon a:focus {
        background-color: rgba(149, 225, 211, 1);
    }
    .overlay-icon:focus,
    .overlay-icon:hover {
        background-color:rgba(149, 225, 211, 1);
    }
    .team-item:hover .facebook,
    .team-item:hover .twitter,
    .team-item:hover .pinterest,
    .team-item:hover .instagram {
        opacity: 1;
    }
    .team-item:hover .overlay,
    .overlay:focus,
    .overlay:hover {
        background-image: linear-gradient( 0deg,rgba(252,227,138,0.8) 0%, rgba(243,129,129,0.8) 100%);
    }
    .team-name {
        padding: 0;
        margin: 0;
        padding-top: 30px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 18px;
        color: #333333;
    }
    .team-pos {
     padding: 0;
     margin: 0;
     font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    color: #b9b9b9;
    }
    main::after {
        background-color: rgb(229, 229, 229);
        width: 1200px;
        height: 1px; 
        content: '';
        display: block;
        }
    
    /* футер */
    .ftr {
        display: flex;
        min-height: 63px;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 10px;
    }
    .ftr a {
        text-decoration: none;
        color: #f38181;
    }
    .ftr span {
    justify-content: flex-start;
    }
    .ftr form {
        justify-content: flex-end;
        display: flex;
    }
    .email {
    border-width: 1px;
    border-color: rgb(229, 229, 229);
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(204, 204, 204);
    font-style: italic;
    line-height: 1.6;
    text-align: left;
    margin-right: 0px;
    width: 230px;
    height: 40px;
    }
    .button {
    display: block;
    margin-left: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(231, 231, 231);
    background-color: #95e1d3;
    width: 150px;
    height: 40px;
    transition: background-color 200ms linear;
    }
    .button:focus,
    .button:hover {
        background-color: rgb(243, 129, 129);
    }
    