// FONTS
$main-font-stack:'Montserrat',
sans-serif;
$descr-font: "Kaushan Script";
$item-descr-font: 'Roboto',
sans-serif;
// COLORS
$main-color: #fff;
$hover-color: #fce38a;
$title-color: #333333;
$decoration-color: #f38181;
$descr-color:#9f9f9f;
$team-descr-color: #999999;
$team-screen-color: #95e1d3;
$team-position-color: #bababa;
$decoration-color-lighter: #f6a1a1;
$border-color: #d9d9d9;